@{
    ViewBag.Title = "Drive & Slam";
}
<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-xs-12">
        <p>West Coast Auto Dealers is offering <strong>FREE SEE3SLAM TEAM REGISTRATIONS</strong> during their April 15 <strong>DRIVE &amp; SLAM</strong> event at their Pasco location.</p>
        <p>Teams must meet the following criteria to qualify:</p>
        <ul>
            <li>2 of 4 team members (or parent of team member if younger than 21) must test drive a car to participate by April 15. Interested parties     contact dealership to arrange for test drive at their convenience.</li>
            <li>2 of 4 team members must be present at the April 15 Drive &amp; Slam event.</li>
            <li>2 of 4 team members must make 3 point shot during the April 15 Drive &amp; Slam event at the West Coast Auto Dealers Pasco location.</li>
            <li>Entire team registration must be completed and submitted to West Coast Auto Dealers.</li>
            <li>Can only participate once for 2018</li>
            <li>All participating team entrants will be entered into a drawing to win a complimentary team registration to Spokane Hoopfest 2018.</li>
        </ul>
    </div>
</div>