@{
    ViewBag.Title = "West Coast Auto Dealers $100 Slam";
}
<h1>@ViewBag.Title</h1>
<div class="row">
    <div class="col-xs-12">
        <p>Take advantage of the West Coast Auto Dealers Slam Special: a <strong>$33 DISCOUNT</strong> ($100 team registration fee).</p>
        <p>Simply walk into any one of the three dealerships - Pasco, Kennewick or Moses Lake - between <strong>April 3 - May 31</strong> and request a promo code to use online when registering your team for See3Slam OR pick up a mail in registration form, available exclusively at West Coast Auto Dealers. Be sure to enter your team name for a drawing to win special prizes throughout the promotion, such as a free team entry to Spokane Hoopfest 2018 drawn on April 15.</p>
    </div>
</div>