@model ManagerViewModel

<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Address1" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Address1" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Address2" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Address2" class="form-control" placeholder="Optional" />
    </div>
</div>

<div class="form-group">
    <label asp-for="City" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="City" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="StateProvince" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <select asp-for="StateProvince" class="form-control" asp-items="ViewBag.StateProvinceList">
            <option>-- Select --</option>
        </select>
    </div>
</div>

<div id="otherStateProvince" class="form-group" style="display:none">
    <label asp-for="OtherStateProvince" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OtherStateProvince" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Zip" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Zip" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="Country" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <div class="radio-inline">
            <input asp-for="Country" type="radio" value="US" />US
        </div>
        <div class="radio-inline">
            <input asp-for="Country" type="radio" value="Canada" />Canada
        </div>
        <div class="radio-inline">
            <input asp-for="Country" type="radio" value="Other" />Other
        </div>
    </div>
</div>

<div id="otherCountryDiv" class="form-group" style="display:none">
    <label asp-for="OtherCountry" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="OtherCountry" class="form-control" />
    </div>
</div>

<div class="form-group">
    <label asp-for="PhoneNumber" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="PhoneNumber" class="form-control" placeholder="xxx-xxx-xxxx" />
    </div>
</div>

<div class="form-group">
    <label asp-for="SecondaryPhoneNumber" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="SecondaryPhoneNumber" class="form-control" placeholder="xxx-xxx-xxxx" />
    </div>
</div>

<div class="form-group">
    <label asp-for="HowDidYouHearAboutUs" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="HowDidYouHearAboutUs" class="form-control" />
    </div>
    <div class="col-md-12">Radio, TV, Internet/Social Media, Community Signage, Word Of Mouth, Returning Team, etc?</div>
</div>