@inject IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = "ThankYou";
}

<h2>Complete</h2>
<p>
    <b>Your account was successfully created.</b><br />
    For your security we require all accounts to be activated. To activate your account, please check the email you indicated and follow the instructions on activating your account.
</p>
<p>
    Leave this window open and please allow up to 15 minutes for the email to arrive. If you do not receive the @AppSettings.Value.SiteName Account Activation email within 30 minutes, please click
    <a asp-controller="Account" asp-action="ResendConfirmation" asp-route-u="@ViewBag.EmailAddress">here</a> to have the email resent.
</p>
<p class="specialNote">
    <strong>IMPORTANT NOTE: Be sure to check your junk email folder as well.</strong>
</p>