body {
    padding-bottom: 20px;
    padding-top: 20px;
    background: url("/img/barefoot3v3/background.jpg") top center fixed no-repeat #fff;
    color: #EBEBEB;
}

.form-group {
    clear: both;
    margin-bottom: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #FF0000;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

.nav > li > a {
    margin: 7px;
    border: 1px solid #72021c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #990000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#750000));
    background-image: -webkit-linear-gradient(top, #990000, #750000);
    background-image: -moz-linear-gradient(top, #990000, #750000);
    background-image: -o-linear-gradient(top, #990000, #750000);
    background-image: linear-gradient(to bottom, #990000, #750000);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#990000, endColorstr=#750000);
}

    .nav > li > a:hover {
        border: 1px solid #450111;
        color: #FFFFFF;
        background-color: #990000;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#990000), to(#3a0000));
        background-image: -webkit-linear-gradient(top, #990000, #3a0000);
        background-image: -moz-linear-gradient(top, #990000, #3a0000);
        background-image: -o-linear-gradient(top, #990000, #3a0000);
        background-image: linear-gradient(to bottom, #990000, #3a0000);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#990000, endColorstr=#3a000d);
    }

.btn-primary, .btn-default {
    background-color: #990000;
    border-color: #990000;
    color: #FFFFFF;
}

.nav > li > a.orange {
    
    border: 1px solid #D62E00;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 15px;
    font-family: arial, helvetica, sans-serif;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    font-weight: bold;
    color: #FFFFFF;
    background-color: #990000;
    background-image: -webkit-gradient(linear, left top, left bottom, from(f60), to(#D62E00));
    background-image: -webkit-linear-gradient(top, #f60, #D62E00);
    background-image: -moz-linear-gradient(top, #f60, #D62E00);
    background-image: -o-linear-gradient(top, #f60, #D62E00);
    background-image: linear-gradient(to bottom, #f60, #D62E00);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#990000, endColorstr=#750000);
}

    .nav > li > a.orange:hover {
        border: 1px solid #D62E00;
        color: #FFFFFF;
        background-color: #990000;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#D62E00), to(#A81C00));
        background-image: -webkit-linear-gradient(top, #D62E00, #A81C00);
        background-image: -moz-linear-gradient(top, #D62E00, #A81C00);
        background-image: -o-linear-gradient(top, #D62E00, #A81C00);
        background-image: linear-gradient(to bottom, #D62E00, #A81C00);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#990000, endColorstr=#3a000d);
    }

    .nav > li > a.orange:focus, .nav > li > a.orange:focus {
        color: #fff;
        background: #3a0000;
    }

.nav > li > a #welcome {
    background-color: #D62E00 !important;
    border-color: #f60;
    color: #FFFFFF;
}

.btn-default:hover, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary {
    background-color: #8A0000;
    border-color: #990000;
    color: #FFFFFF;
}

h1, h2, h3, h4, .nav li a, .nav > li > a.orange {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
   
}


h1, h3, h4, .nav li a, .nav > li > a.orange {

    margin-left: 20px;
}


h1, h2, h3, h4, p, label {
    color: #DEDEDE;
}

.radio-inline {
    color: white;
}

.jumbotron {
    background-color: rgba(0, 0, 0, 0.3) !important;
    background-repeat: repeat-x;
    margin-bottom: 8px;
    color: #fff;
    margin-top: 10px;
    padding-bottom: 20px;
    padding-top: 20px;
}


footer {
    text-align: right;
}

.jumbotron img {
    width: 100%;
    max-width: 250px;
}

.col-md-9 {
    background: url("/img/barefoot3v3/bg-dark.png") !important;
    background-repeat: repeat-x;
}

.col-md-3 {
    border-radius: 5px 0 0 5px;
}

.row {
    color: #fff;
}

.btn {
    margin: 8px;
}

li.navButton a, p a {
    color: #ff6600;
}

    li.navButton a:hover, p a:hover {
        color: #D62E00;
    }

.form-control {
    margin: 5px;
}

.radio-inline, .checkbox-inline {
    padding-left: 40px;
}

h4, h5, h6 {
   padding-left: 15px;
}

.btn-danger {
    background-color: #ff6600;
    border-color: #D62E00;
    color: #FFFFFF;
}

.btn-danger:hover {
    background-color:#A81C00;
    border-color: #D62E00;
   
}