@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using EMS.Domain.Models
@inject IOptions<AppSettings> AppSettings
@inject SignInManager<User> SignInManager
<div class="jumbotron" style="background-color: transparent !important">
    <img src="~/img/See3Slam/logo.png" />
</div>

<div class="row" style="padding-bottom: 45px;">
    <div class="col-md-4">
        <h2>Play</h2>
        <p>
            <b>Registration is open. Sign up today!</b>
        </p>
        @if (SignInManager.IsSignedIn(User))
        {
            <p><a class="btn btn-default" asp-controller="Team" asp-action="Index">Manage Team(s) &raquo;</a></p>
        }
        else
        {
            <p><a class="btn btn-default" asp-controller="Account" asp-action="Register">Register Now &raquo;</a></p>
        }
        <p>
            If you have issues with registration, please contact us via e-mail at info@see3slam.com or by phone at XXX-XXX-XXXX
        </p>
    </div>
    <div class="col-md-4">
        <h2>Event Details</h2>
        <p>Read the rules, regulations and all the details of the event. </p><br />
        <p><a class="btn btn-default" target="_blank" href="http://www.see3slam.com/includes/docs/See3Slam-Rules-and-Regulations.pdf">Rules</a></p>
        @*<p><a class="btn btn-default" target="_blank" href="@Url.Content("~/content/Barefoot 3v3 Waiver.pdf")">Waiver Form</a></p>*@
    </div>
    <div class="col-md-4">
        <h2>Share</h2>
        <p>
            <a href="https://www.facebook.com/See3Slam" target="_blank"><img src="~/img/Facebook.png" alt="Facebook" /></a>
            @*<a href="https://twitter.com/See3Slam" target="_blank"><img src="~/img/twitter.png" alt="Twitter" /></a>
                <a href="https://www.youtube.com/user/See3Slam" target="_blank"><img src="~/img/youtube.png" alt="YouTube" /></a>*@
        </p>

    </div>
</div>