@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using EMS.Domain.Models

@inject SignInManager<User> SignInManager
@if (SignInManager.IsSignedIn(User))
{
    <li>
        <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
            </li>
        </form>
    </li>
}
else
{
    <li><a asp-controller="Account" asp-action="Register" id="registerLink">Register</a></li>
    <li><a asp-controller="Account" asp-action="Login" id="loginLink">Log in</a></li>
}