@inject IOptions<AppSettings> AppSettings
@{
    ViewBag.Title = "Checkout";
}
<div class="row">
    <div class="col-sm-6">
        <h2>Checkout</h2>
    </div>
    <div class="col-sm-6">
        <a asp-controller="Team" class="btn btn-success grey-1 pull-right">Back to Teams</a>
    </div>
</div>
<div id="checkout" v-cloak>
    <action-modal v-if="processing"></action-modal>
    <div class="panel panel-default">
        <div class="panel-heading-light" v-if="hasPaymentEntries">
            <span>Teams Ready for Checkout</span>
            <span class="pull-right" style="font-size: .8em;">Click the X to pay for the team later</span>
        </div>
        <!-- display the teams -->
        <ul class="list-group" v-if="hasPaymentEntries">
            <li class="list-group-item" v-for="(team, index) in teams">
                <div class="row">
                    <div class="col-sm-3">{{team.name}}</div>
                    <div class="col-sm-2">
                        <span>{{team.division}}</span>
                        <span style="margin-left: 5px">(Players: {{team.playerCount}})</span>
                    </div>
                    <div class="col-sm-4">{{team.promoCode}}</div>
                    <div class="col-sm-2">${{team.cost}}</div>
                    <div class="col-sm-1">
                        <span class="glyphicon glyphicon-remove pull-right btn" v-on:click="remove(index)"></span>
                    </div>
                </div>
            </li>
        </ul>
        <div class="list-group-item" v-if="!hasPaymentEntries">
            <div class="col-sm-12">No items are ready for checkout</div>
        </div>
        <!-- display the total -->
        <div class="panel-footer" v-if="hasPaymentEntries">
            <div class="row">
                <div class="col-sm-offset-9 col-sm-2">
                    <span>Total: </span>
                    <span>${{totalCost}}</span>
                </div>
            </div>
        </div>
    </div>
    <!-- show terms and conditions -->
    <div class="panel panel-default" v-if="hasPaymentEntries && teams.length > 0">
        <div class="panel panel-default">
            <div class="well">
                <h3>Release and Voluntary Waiver</h3>
                <p>
                    This Voluntary Waiver and Release Agreement ("Agreement") is hereby executed by the undersigned, or if the undersigned is under the age of 18 years, the the undersigned's parent or legal guardian, together with any heir, successor, representative or assign (collectively "Participant"),
                    in favor and for the sole and exclusive benefit of the Organizers (as defined herein). In connection with Particpant's involvement in a contest, promotional activity, or in any other event which may take place at See 3 Slam which involves
                    the use of John Dam Plaza and George Washington Way or any of the streets or facilities at See 3 Slam in Richland by Participant including, without limitation, the 3-on-3 basketball tournament (collectively "Event"), Participant hereby
                    agrees and acknowledges to Tri-Cities Sunrise Rotary and the City of Richland any of the respective Event sponsors or promoters, including, without limitation, all charities benefiting from the Event, individually and collectively, together
                    with each of their respective affiliates, officers, employees, partners, shareholders, members, board memebers, sponsors, volunteers, tenants, contractors, agents, successors, and assigns (collectively "Organizers"), that a strenuous activity,
                    such as basketball, is potentially hazardous, and Participant hereby assumes all risks associated with participating in the Event, including, without limitation, falls, contact with other participants, the effects of weather and the
                    condition of playing surfaces. Furthermore, Participant expressly and unconditionally assumes all risks and dangers known or unknown, foreseen or unforseen, and relating or incidental to Participant's involvement in the Event and any
                    activity associated therewith. Participant hereby releases, forever discharges and holds harmless the Organizers from and against any and all claims, damages, liabilities, costs, and expenses, including, without limitation, death, personal injury
                    or property damage of any kind or nature, arising out of or relating to Participant's involvement in the Event and all activities associated therewith. Participant further agrees that the Organizers shall have the right to record, broadcast,
                    and otherwise exploit in any and all media throughout the world Participant's involvement in the Event and to use Participant's name, likeness, voice, and biographical information in connection therewith.
                </p>
            </div>
            <div class="well">
                <h3>Sportsmanship Pledge</h3>
                <p>
                    I realize and accept that I am responsible for the conduct of myself, my teammates, and my fans. If I or any person associated with my team fails to behave in a sportsmanliek manner, I realize that I, my team, and our fans may be
                    ejected from the tournament and asked to leave the site and not return.
                </p>
            </div>
        </div>
        <input type="checkbox" v-model="agreesToTerms" />Accept the terms
    </div>
    <!-- show payment info -->
    <div id="paymentInfo" class="panel panel-default" v-if="hasPaymentEntries && teams.length > 0 && totalCost > 0">
        <div v-show="validationErrors.length > 0">
            <ul class="validation-summary-errors">
                <li class="field-validation-error" v-for="error in validationErrors">{{error}}</li>
            </ul>
        </div>
        <div class="panel-heading-light">Payment Information</div>
        <div class="info">Your payment transaction through PayPal will appear on your credit card as follows: PayPal "TRI CITIES".</div>
        <!-- Show form issues -->
        <div class="alert alert-warning" v-show="errors.any()">
            <div class="help is-danger" v-for="formError in errors.all()">{{formError}}</div>
        </div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div>
                        <span class="bold">Name </span>(As it appears on credit card)
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="form-control" type="text" v-model="ccInfo.firstName" placeholder="First Name (As it appears on credit card)" />
                        </div>
                        <div class="col-sm-6">
                            <input class="form-control" type="text" v-model="ccInfo.lastName" placeholder="Last Name (As it appears on credit card)" />
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div v-if="useDefaultAddress">
                        <div class="bold">Billing Address</div>
                        <div><span v-once>{{ccInfo.address}}</span>, <span v-once>{{ccInfo.city}}</span>, <span v-once>{{ccInfo.state}}</span> <span v-once>{{ccInfo.postalCode}}</span></div>
                        <div><a href="#" v-on:click.prevent="useDefaultAddress = !useDefaultAddress">Change Address</a></div>
                    </div>
                    <div v-if="!useDefaultAddress">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="bold">Billing Address</div>
                                <input class="form-control" type="text" v-model="ccInfo.address" placeholder="Street Address" />
                            </div>
                            <div class="col-sm-3">
                                <div class="bold">City</div>
                                <input class="form-control" type="text" v-model="ccInfo.city" placeholder="City" />
                            </div>
                            <div class="col-sm-2">
                                <div class="bold">State</div>
                                <input class="form-control" type="text" v-model="ccInfo.state" placeholder="State" />
                            </div>
                            <div class="col-sm-2">
                                <div class="bold">Country</div>
                                <input class="form-control" type="text" v-model="ccInfo.countryCode" placeholder="Country" />
                            </div>
                            <div class="col-sm-2">
                                <div class="bold">Postal Code</div>
                                <input class="form-control" type="text" v-model="ccInfo.postalCode" placeholder="Zip Code" />
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-12">
                                <a href="#" v-on:click.prevent="useDefaultAddress = !useDefaultAddress">Use this address instead:</a>
                                <span v-once>{{ccInfo.address}}</span>, <span v-once>{{ccInfo.city}}</span>, <span v-once>{{ccInfo.state}}</span> <span v-once>{{ccInfo.postalCode}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="bold">Card Number</div>
                            <input class="form-control" type="text" placeholder="Card Number" name="cardNumber" v-validate="'required|credit_card'" v-model="ccInfo.cardNumber" />
                        </div>
                        <div class="col-sm-2">
                            <div class="bold">Exp Month</div>
                            <select class="form-control" v-model="ccInfo.month">
                                <option v-for="n in 12" v-bind:value="n">{{n}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <div class="bold">Exp Year</div>
                            <select class="form-control" v-model="ccInfo.year">
                                <option v-for="n in 20" v-bind:value="n + (@DateTime.Now.Year - 1)">{{n + (@DateTime.Now.Year - 1)}}</option>
                            </select>
                        </div>
                        <div class="col-sm-2">
                            <div class="bold">CVV</div>
                            <input class="form-control" type="text" placeholder="CVV" v-model="ccInfo.cvv" />
                        </div>
                    </div>
                </li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-success green pull-right" v-on:click.prevent="submitPayment">Submit Payment</a>
                        </div>
                    </div>
                    <div class="row" v-show="processing">
                        <div class="col-sm-12">
                            <span>Processing payment, please be patient.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- show confirm team when no payment required -->
    <div id="freeTeamConfirmation" class="panel panel-default" v-if="hasPaymentEntries && teams.length > 0 && totalCost == 0">
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-12">
                            <a class="btn btn-success green pull-right" v-on:click.prevent="submitPayment">Finalize Registration</a>
                        </div>
                    </div>
                    <div class="row" v-show="processing">
                        <div class="col-sm-12">
                            <span>Processing registration, please be patient.</span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- show success message -->
    <div class="panel panel-default" v-if="paymentSuccessful">
        <div class="col-xs-12">
            <h2>Thank You - Your payment has been processed</h2>
            <p class="instructions">Your payment transaction through PayPal will appear on your credit card as follows: PayPal "TRI CITIES".</p>
            <p class="instructions">
                Thank you for participating in @AppSettings.Value.TournamentName, we look forward to seeing you bring your "A" game on tournament day.
            </p>
            <p>
                To view any and all of your payment transactions, please click on the "My Transactions" link in the navigation.
            </p>
            <p>
                Click <a href="~/">here</a> to navigate back to your homepage.
            </p>
        </div>
    </div>
</div>
<template id="action-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="action-modal-container">
                    <img src="~/img/See3Slam/action.gif" />
                </div>
            </div>
        </div>
    </transition>
</template>
@section Scripts {
    <script src="~/js/checkout.js"></script>
}